<a href="https://colab.research.google.com/github/Data-finest/Habibty/blob/main/SQL_Python2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### SQL in Python Environment (Project 2)

In [ ]:
#Installing Libraries
!pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3
!pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24
!pip install ipython-sql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting ibm_db==3.1.0
  Using cached ibm_db-3.1.0-cp37-cp37m-linux_x86_64.whl
Collecting ibm_db_sa==0.3.3
  Using cached ibm_db_sa-0.3.3-py3-none-any.whl
Collecting sqlalchemy>=0.7.3
  Using cached SQLAlchemy-1.4.39-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
Collecting greenlet!=0.4.17
  Using cached greenlet-1.1.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (150 kB)
Collecting importlib-metadata
  Using cached importlib_metadata-4.12.0-py3-none-any.whl (21 kB)
Collecting zipp>=0.5
  Using cached zipp-3.8.0-py3-none-any.whl (5.4 kB)
Collecting typing-extensions>=3.6.4
  Using cached typing_extensions-4.2.0-py3-none-any.whl (24 kB)
Installing collected packages: zipp, typing-extensions, importlib-metadata, greenlet, sqlalchemy, ibm-db-sa, ibm-db
  Attempting uninstall: zipp
    Found existing installation: zipp 3.8.0
    Uninstalling zipp-3.8.0:
      Successfully uninstalled zipp-3.8.0
  Attempting uninstall: typing-extensions
    Found existing installation: typing-extensions 4.2.0
    Uninstalling typing-extensions-4.2.0:
      Successfully uninstalled typing-extensions-4.2.0
  Attempting uninstall: importlib-metadata
    Found existing installation: importlib-metadata 4.12.0
    Uninstalling importlib-metadata-4.12.0:
      Successfully uninstalled importlib-metadata-4.12.0
  Attempting uninstall: greenlet
    Found existing installation: greenlet 1.1.2
    Uninstalling greenlet-1.1.2:
      Successfully uninstalled greenlet-1.1.2
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
  Attempting uninstall: ibm-db-sa
    Found existing installation: ibm-db-sa 0.3.3
    Uninstalling ibm-db-sa-0.3.3:
      Successfully uninstalled ibm-db-sa-0.3.3
  Attempting uninstall: ibm-db
    Found existing installation: ibm-db 3.1.0
    Uninstalling ibm-db-3.1.0:
      Successfully uninstalled ibm-db-3.1.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
thinc 8.0.17 requires typing-extensions<4.2.0,>=3.7.4.1; python_version < "3.8", but you have typing-extensions 4.2.0 which is incompatible.
spacy 3.3.1 requires typing-extensions<4.2.0,>=3.7.4; python_version < "3.8", but you have typing-extensions 4.2.0 which is incompatible.
Successfully installed greenlet-1.1.2 ibm-db-3.1.0 ibm-db-sa-0.3.3 importlib-metadata-4.12.0 sqlalchemy-1.4.39 typing-extensions-4.2.0 zipp-3.8.0

Found existing installation: SQLAlchemy 1.4.39
Uninstalling SQLAlchemy-1.4.39:
  Successfully uninstalled SQLAlchemy-1.4.39
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sqlalchemy==1.3.24
  Using cached SQLAlchemy-1.3.24-cp37-cp37m-manylinux2010_x86_64.whl (1.3 MB)
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.24
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.7/dist-packages (0.3.9)
Requirement already satisfied: prettytable in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (3.3.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (5.5.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.3.24)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (1.0.18)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (57.4.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.8.1)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from prettytable->ipython-sql) (4.12.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->prettytable->ipython-sql) (3.8.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->prettytable->ipython-sql) (4.2.0)

In [ ]:
#Importing libraries
import ibm_db as db

In [ ]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%sql ibm_db_sa://

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///SQLiteMagic.db'])
Can't load plugin: sqlalchemy.dialects:ibm_db_sa
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///SQLiteMagic.db'])

In [ ]:
#Placeholder values with actual Db2 hostname, username, and password: "credentialals"
dsn_hostname = "21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud" # e.g.: "54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud"
dsn_uid = "bqs14388"        # e.g. "abc12345"
dsn_pwd = "7gphkGLzysHb7J8D"      # e.g. "7dBZ3wWt9XN6$o0J"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"            # e.g. "BLUDB"
dsn_port = "31864"                # e.g. "32733" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"
dsn_security = "SSL"              #i.e. "SSL"

In [ ]:
#Create the dsn connection string
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

#print the connection string to check correct values are specified
print(dsn)

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud;PORT=31864;PROTOCOL=TCPIP;UID=bqs14388;PWD=7gphkGLzysHb7J8D;SECURITY=SSL;

In [ ]:
#Create database connection

try:
    conn = db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", db.conn_errormsg() )

Connected to database:  BLUDB as user:  bqs14388 on host:  21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud

In [ ]:
#Create database connection
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

try:
    conn = db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", db.conn_errormsg() )

Connected to database:  BLUDB as user:  bqs14388 on host:  21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud

In [ ]:
#Retrieve Metadata for the Database Server
server = db.server_info(conn)

print ("DBMS_NAME: ", server.DBMS_NAME)
print ("DBMS_VER:  ", server.DBMS_VER)
print ("DB_NAME:   ", server.DB_NAME)

DBMS_NAME:  DB2/LINUXX8664
DBMS_VER:   11.05.0700
DB_NAME:    BLUDB

In [ ]:
#Retrieve Metadata for the Database Client / Driver
client = db.client_info(conn)

print ("DRIVER_NAME:          ", client.DRIVER_NAME) 
print ("DRIVER_VER:           ", client.DRIVER_VER)
print ("DATA_SOURCE_NAME:     ", client.DATA_SOURCE_NAME)
print ("DRIVER_ODBC_VER:      ", client.DRIVER_ODBC_VER)
print ("ODBC_VER:             ", client.ODBC_VER)
print ("ODBC_SQL_CONFORMANCE: ", client.ODBC_SQL_CONFORMANCE)
print ("APPL_CODEPAGE:        ", client.APPL_CODEPAGE)
print ("CONN_CODEPAGE:        ", client.CONN_CODEPAGE)

DRIVER_NAME:           libdb2.a
DRIVER_VER:            11.05.0600
DATA_SOURCE_NAME:      BLUDB
DRIVER_ODBC_VER:       03.51
ODBC_VER:              03.01.0000
ODBC_SQL_CONFORMANCE:  EXTENDED
APPL_CODEPAGE:         1208
CONN_CODEPAGE:         1208

In [ ]:
db.close(conn)

True

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
%sql ibm_db_sa://

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///SQLiteMagic.db'])
Can't load plugin: sqlalchemy.dialects:ibm_db_sa
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///SQLiteMagic.db'])

In [ ]:
%sql sqlite:///SQLiteMagic.db

'Connected: @SQLiteMagic.db'

In [ ]:
import csv, sqlite3

con = sqlite3.connect("SQLiteMagic.db")
cur = con.cursor()

In [ ]:
#Install & load sqlite3
!pip install pysqlite3  ##Uncomment the code to install sqlite3
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pysqlite3 in /usr/local/lib/python3.7/dist-packages (0.4.7)

In [ ]:
# calender = pd.read_csv(r"/content/calendar_202206251614.csv")
# CUSTOMERS = pd.read_csv(r"/content/customers_202206251614.csv")
# magazine = pd.read_csv(r"/content/magazine_202206251615.csv")
# subscriptions = pd.read_csv(r"/content/subscriptions_202206251615.csv")

In [ ]:
%%sql
DROP TABLE "CALENDER";
CREATE TABLE "CALENDER" (
  	"id" varchar(45) NOT NULL,
    "date" datetime DEFAULT NULL,
    "year" int DEFAULT NULL,
    "month" int DEFAULT NULL,
    "day_of_month" int DEFAULT NULL,
     PRIMARY KEY ("id")
); 

INSERT INTO "CALENDER" VALUES ('1','2017-01-01 00:00:00',2017,1,1),
('2','2018-01-01 00:00:00',2018,1,1),('3','2018-01-03 00:00:00',2018,1,3),
('4','2019-01-01 00:00:00',2019,1,1),('5','2019-01-03 00:00:00',2019,1,3),
('6','2019-03-01 00:00:00',2019,3,1);

 * sqlite:///SQLiteMagic.db
(sqlite3.OperationalError) no such table: CALENDER
[SQL: DROP TABLE "CALENDER";]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [ ]:
%%sql
DROP TABLE "CUSTOMERS";
CREATE TABLE "CUSTOMERS" (
   "customer_id" int NOT NULL GENERATED BY DEFAULT AS IDENTITY,
  "first_name" varchar(45) DEFAULT NULL,
  "last_name" varchar(45) DEFAULT NULL,
  "age_band" varchar(45) DEFAULT NULL,
  "country" varchar(45) DEFAULT NULL,
  "city" varchar(45) DEFAULT NULL,
  PRIMARY KEY ("customer_id")
); 
INSERT INTO "CUSTOMERS" VALUES (1,'John','Smith','35-44','yorkshire','leeds'),(2,'Pat','Sharp','35-44','london','london'),(3,'Adam','Brown','45-54','Bedforshire','Bedford'),(4,'Jane','Haron Smith','25-34','london','london'),(5,'Gill','Benny','55-64','yorkshire','leeds'),(6,'Asha','Chester','55-64','bedfordshire','bedford'),(7,'Bill','Peters','35-44','london',NULL);

 * sqlite:///SQLiteMagic.db
(sqlite3.OperationalError) no such table: CUSTOMERS
[SQL: DROP TABLE "CUSTOMERS";]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [ ]:
%%sql
DROP TABLE "MAGAZINE";
CREATE TABLE "MAGAZINE" (
  "id" int NOT NULL GENERATED BY DEFAULT AS IDENTITY,
  "mag_code" varchar(45) DEFAULT NULL,
  "brand" varchar(45) DEFAULT NULL,
  "category" varchar(45) DEFAULT NULL,
  "frequency" varchar(45) DEFAULT NULL,
  PRIMARY KEY ("id")
) ;
--
--

INSERT INTO "MAGAZINE" VALUES (1,'GF','good food','food','monthly'),(2,'GW','gard wood','special interest','monthly'),(3,'HE','History Extra','special interest','monthly'),(4,'OM','Olive Magazine','Food','monthly'),(5,'RT','RadioTimes','TV and Film','Weekly');

 * sqlite:///SQLiteMagic.db
(sqlite3.OperationalError) no such table: MAGAZINE
[SQL: DROP TABLE "MAGAZINE";]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [ ]:
%%sql DROP TABLE "SUBSCRIPTIONS";
CREATE TABLE "SUBSCRIPTIONS" (
  "subs_id" int NOT NULL,
  "mag_code" varchar(45) DEFAULT NULL,
  "customer_id" int DEFAULT NULL,
  "start_date" varchar(45) DEFAULT NULL,
  "end_date" varchar(45) DEFAULT NULL,
  "start_issue" int DEFAULT NULL,
  "end_issue" int DEFAULT NULL,
  "total_price_paid" DECIMAL(15,2) DEFAULT NULL,
  PRIMARY KEY ("subs_id")
);

INSERT INTO "SUBSCRIPTIONS" VALUES (1,'RT',1,'2018-01-01','2018-12-31',37,89,65.00),(2,'RT',2,'2019-01-01','2019-05-30',54,80,165.00),(3,'GW',2,'2018-01-01','2018-12-31',45,57,140.00),(4,'GF',3,'2019-01-01','2019-05-30',50,56,75.00),(5,'GF',4,'2018-01-01','2019-03-30',30,50,150.00),(6,'RT',4,'2018-01-01','2018-12-31',37,89,75.00),(7,'GW',4,'2018-01-01','2018-05-30',53,59,80.00),(8,'HE',5,'2019-01-01','2019-05-30',21,27,150.00),(9,'HE',6,'2019-01-01','2019-05-30',21,27,150.00),(10,'OM',7,'2019-01-01','2019-05-30',20,26,100.00);

 * sqlite:///SQLiteMagic.db
(sqlite3.OperationalError) no such table: SUBSCRIPTIONS
[SQL: DROP TABLE "SUBSCRIPTIONS";]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [ ]:
#1 -- How many customers do we have?
%sql SELECT COUNT(*) FROM customers as number_of_customers;

 * sqlite:///SQLiteMagic.db
(sqlite3.OperationalError) no such table: customers
[SQL: SELECT COUNT(*) FROM customers as number_of_customers;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [ ]:
%sql select count(*) from CUSTOMERS;

 * sqlite:///SQLiteMagic.db
(sqlite3.OperationalError) no such table: CUSTOMERS
[SQL: select count(*) from CUSTOMERS;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [ ]:
%sql select * from CUSTOMERS;

 * sqlite:///SQLiteMagic.db
(sqlite3.OperationalError) no such table: CUSTOMERS
[SQL: select * from CUSTOMERS;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [ ]:
#-- What is the average revenue per customer?
%sql SELECT AVG(s.total_price_paid) as average_revenue, c.customer_id, c.first_name as name \
FROM customers as c, subscriptions as s \
WHERE s.customer_id = c.customer_id \
GROUP BY c.customer_id;

In [ ]:
#-- How much revenue did we make each year?
%sqlSELECT YEAR(s.start_date) as year, SUM(s.total_price_paid) as average_revenue \
FROM customers as c, subscriptions as s \
GROUP BY year;

In [ ]:
# -- How many subscriptions are there for each age band?
%sql SELECT c.age_band, count(s.subs_id) as data_count \
FROM customers as c, subscriptions as s \
WHERE s.customer_id = c.customer_id \
GROUP BY c.age_band;

In [ ]:
# -- Which magazine has the most customers?
%sql SELECT m.mag_code, m.brand, count(s.subs_id) as data_count \
FROM magazine as m, subscriptions as s \
WHERE m.mag_code  = s.mag_code  \
GROUP BY m.mag_code, m.brand ;

In [ ]:
# -- Which customer has generated the most value this year?
%sql SELECT SUM(s.total_price_paid) as total, c.customer_id, c.first_name as name \
FROM customers as c, subscriptions as s \
WHERE s.customer_id = c.customer_id \
AND YEAR (s.start_date) = '2018' \
GROUP BY c.customer_id \
ORDER BY total DESC \
LIMIT 1

In [ ]:
# -- What is the average number of subscriptions per customer?
%sql SELECT (SELECT  COUNT (subs_id) FROM subscriptions ) / ( SELECT COUNT(customer_id) FROM customers) as average;

In [ ]:
# -- Which category appeals most to the age band 35-44?
test_score_distribution = %sql SELECT  category as count FROM ( \
    SELECT  s.subs_id, s.customer_id, c.first_name, m.mag_code , m.category \
    FROM magazine as m, subscriptions as s, customers as c \
    WHERE c.age_band = '35-44' AND c.customer_id = s.customer_id \
    AND m.mag_code  = s.mag_code GROUP BY  m.category, s.subs_id \
) as dataset    \
GROUP  BY dataset.category    \
ORDER BY COUNT(category) DESC   \
LIMIT 1
test_score_distribution

In [ ]:
dataframe = test_score_distribution.DataFrame()
%matplotlib inline
# uncomment the following line if you get an module error saying seaborn not found
# !pip install seaborn==0.9.0
import seaborn
import pandas as pd

plot = seaborn.barplot(x='Test Score',y='Frequency', data=dataframe)